@charset "UTF-8";
p {
	margin: 10px 110px; padding: 10px;
	border: 1px solid crimson;
}
.txt1 { text-align: left; }
.txt2 { text-align: right; }
.txt3 { text-align: center; }
.txt4 { text-align: justify; }
