@charset "UTF-8";
p {
	width: 400px;
	border: 1px solid #000;
}
.white1 { white-space: normal; }
.white2 { white-space: nowrap; }
.white3 { white-space: pre; }
.white4 { white-space: pre-wrap; }
.white5 { white-space: pre-line; }
